/* ESTRUCTURA PRINCIPAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #338;
}

.MAIN1 {
    margin: 0 2%;
    background-color: #eee;
}

/* PROPIEDADES BOTONES */
.BTN1 {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

/* COLORES CAJAS */
.mTopBot {
    margin: 10px 0;
}

.BGCAzul {
    background-color: #00f3;
}

.BGCVerde {
    background-color: #0f03;
}

.BGCRojo {
    background-color: #f003;
}

.BGCMarron {
    background-color: #ff03;
}

.BGCCeleste {
    background-color: #0ff3;
}