/* ESTRUCTURA PRINCIPAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 5px;
    padding: 5px;
    border: #000 solid 1px;
}
/* PROPIEDADES CAJAS */
.-displayInlineBlock{
    display: inline-block;
}
.-W10{
    width: 10%;
}
.-W30{
    width: 30%;
}
.-W49{
    width: 49%;
}
.-floatLeft{
    float: left;
}
/* PROPIEDADES BOTONES */
.-boton1{
    padding: 10px;
}
/* COLORES CAJAS */
.-bgcAzul{
    background-color: #00f3;
}
.-bgcVerde{
    background-color: #0f03;
}
.-bgcRojo{
    background-color: #f003;
}
.-bgcMarron{
    background-color: #ff03;
}
.-bgcCeleste{
    background-color: #0ff3;
}